{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreStrings": true,
        "ignoreUrls": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "comma-dangle": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ],
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [
          "initializing"
        ]
      }
    ]
  },
  "plugins": [
    "flowtype"
  ],
  "parser": "babel-eslint",
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}